<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  <servlet-name> my-GenericServlet</servlet-name>
  <servlet-class> com.tcs_servlet_by_using_generic_servlet.MyGenericServletClass</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>my-GenericServlet</servlet-name>
  <url-pattern>/my-gs</url-pattern>
  </servlet-mapping>
  
  <servlet>
  
  <servlet-name>read-form</servlet-name>
  <servlet-class>com.tcs_servlet_by_using_generic_servlet.ReadFormDataByUsingGenericServlet</servlet-class>
  
  </servlet>
  
  <servlet-mapping>
  
  <servlet-name>read-form</servlet-name>
  <url-pattern>/user-info</url-pattern>
  </servlet-mapping>
</web-app>
